In [63]:
#Import required libraries
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats as stats
import math
import pycountry_convert as pc
from countries_dataset import countries

In [65]:
#Import excel files after initial row cleaning
#Production data in thousands 60kg bags
df_production = pd.read_excel('datasets/1a - Total production.xlsx',skiprows=3,skipfooter=3) 
df_production['Country'] = df_production['Country'].str.lstrip()
df_production['Continent'] = df_production['Country'].map(countries)

#Consumption data in thousands 60kg bags
df_consumption = pd.read_excel('datasets/1b - Domestic consumption.xlsx',skiprows=3,skipfooter=3) 
df_consumption['Country'] = df_consumption['Country'].str.lstrip()
df_consumption['Continent'] = df_consumption['Country'].map(countries)

#Gross Openings 
df_openings = pd.read_excel('datasets/1d - Gross Opening stocks.xlsx',skiprows=3,skipfooter=3) 
df_openings['Country'] = df_openings['Country'].str.lstrip()
df_openings['Continent'] = df_openings['Country'].map(countries)

#Exports in thousands 60kg bags
df_exports = pd.read_excel('datasets/1e - Exports - crop year.xlsx',skiprows=3,skipfooter=3) 
df_exports['Country'] = df_exports['Country'].str.lstrip()
df_exports['Continent'] = df_exports['Country'].map(countries)

#Imports in thousands 60kg bags
df_imports = pd.read_excel('datasets/2b - Imports.xlsx',skiprows=3,skipfooter=3) 
df_imports['Country'] = df_imports['Country'].str.lstrip()
df_imports['Continent'] = df_imports['Country'].map(countries)

d:\Python\Python311\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
d:\Python\Python311\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [68]:
df_production.head(10)

,Country,Group,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,...,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20,2019/20.1,Continent
0,Angola,April,50.3450,79.3310,77.5200,32.6080,76.8020,62.1090,70.9250,64.3300,...,32.7900,34.9350,39.4050,40.5150,44.8300,35.0060,41.9027,51.8419,1.365783e+03,Africa
1,Bolivia,April,122.7770,103.5360,120.2350,50.8230,116.9440,142.4850,124.5790,140.7190,...,105.2812,119.9122,99.8766,84.2191,77.9835,83.8112,82.5687,81.2654,3.449503e+03,South America
2,Brazil,April,27285.6286,27293.4934,34603.3542,28166.9786,28192.0470,18060.2022,29196.7430,26148.0040,...,55418.0012,54688.9664,53304.7669,52870.5876,56788.1784,52739.8179,65130.7997,58210.7127,1.251382e+06,South America
3,Burundi,April,487.3930,667.1990,620.2380,393.3540,664.1430,433.9800,400.9690,249.7850,...,405.9615,163.2177,247.5500,269.4576,196.4128,202.1079,204.3391,272.4688,1.039636e+04,Africa
4,Ecuador,April,1503.8150,2123.8240,1185.4800,2069.0070,2375.7660,1888.2330,1992.9140,1190.6630,...,828.1024,665.5450,644.0112,644.4926,644.8845,623.5744,496.0001,558.9352,3.167256e+04,South America
5,Indonesia,April,7441.3830,8493.1960,5569.4780,6743.2880,5367.8780,4573.4290,8220.5840,7620.7780,...,13070.0386,12900.9493,10946.2773,12585.4751,11541.0266,10852.3153,9617.5942,11432.9425,2.567497e+05,Asia
6,Madagascar,April,982.4470,932.5130,1121.6840,441.8590,641.3720,785.0090,849.0080,623.8040,...,499.7094,584.4758,501.4544,414.2320,452.7566,404.1924,379.3768,383.3125,1.742654e+04,Africa
7,Malawi,April,104.6280,124.2860,137.1610,62.1110,84.1120,91.2350,48.6500,60.8200,...,22.8262,27.7944,24.7098,21.2015,19.5160,14.4703,12.8656,16.0431,1.370834e+03,Africa
8,Papua New Guinea,April,962.8410,746.8160,900.1110,1019.4810,1138.6590,1002.3630,1089.3480,1074.0210,...,716.4880,835.3594,797.5642,711.9818,1171.1449,733.9382,930.3690,751.7210,3.005143e+04,Oceania
9,Paraguay,April,130.6270,79.6530,54.2910,66.5275,25.2643,26.2539,30.8431,49.3411,...,20.0065,20.0319,20.0195,20.0000,20.0104,20.0013,20.0135,20.0038,1.035865e+03,South America